body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    font-family: "Noto Sans JP", "Arial", sans-serif;
}

.slider__wrapper {
    margin: 0;
    padding: 0;
    width: 9000px;
	position: relative;
    display: flex;
}

.slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slide--vanilla {
    background: linear-gradient(45deg, #8F355A 0%, #5E2438 30%, #2C1316 100%);
}

.slide--cherry {
 background-color :#212121;
}

.slide--orange {
    background-color: #EADEC5;
}


.slide__back {
    background: linear-gradient(45deg,#292929 0%, #212121 50%, #141313 100%);
    height: 360px;
    width: 320px;
    border-radius: 35px;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
}

.slide__back::before {
    position: absolute;
    content: "";
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-image: url("img/red_line.svg");
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: 0;
}

.slide__back--cherry {
  background: linear-gradient(45deg, #8F355A 0%, #5E2438 30%, #2C1316 100%);
}

.slide__back--vanilla {
  background: linear-gradient(45deg, #ECE1C9 0%, #9F8C5C 100%);
}

.slide__back--orange {
  background: linear-gradient(45deg, #F0AE54 0%, #8B481E 100%);
}


.slide__picture {
  position: absolute;
  width: 170px;
  height: 270px;
  z-index: 3;
  background-size: cover;
  top: 50px;
  right: calc(50% - 85px);  
}

@keyframes toRight {
  0% { right: -260px; opacity: 30%;}
  100% { right: calc(50% - 85px); opacity: 100%;}
}

.animate__pic {
  animation: toRight 0.6s normal forwards;  
}

.slide__back::after {
  content:"";
  position: absolute;
  background-image: url("img/logo.svg");
  width: 500px;
  height: 150px;
  z-index: 2;
  background-size: contain;
  top: 70px;
  left: calc(50% - 230px);
  background-repeat: no-repeat;
}

.slide__back--cherry::after {
  background-image: url("img/logo_black.svg"); 
}

.slide__back--orange::after {
  background-image: url("img/logo_orange.svg"); 
}

.text__title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.text__block {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.slide__text {
   color: #000;
   width: 260px;
   position: absolute;
   left: 20px;
   top: -90px;
}

.slide__text--orange {
  color: #8B481E;
}

.slide__text--vanilla {
  color: #ECE1C9 ;
}

.slide__text--cherry {
   color: #FFF ;
}


.animate__text {
   animation: textShow 0.5s normal forwards;  
}

@keyframes textShow  {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}


.slide__button {
    border: none;
    outline: none;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
	  display: block;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
	  position: absolute;
    right: -40px;
    bottom: 5px;
    overflow: hidden;
    background-color: transparent;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.slide__button:focus {
  color: #000;
}

@media (min-width: 768px) { 
 
    .slide__back {
        width: 650px;
        height: 550px;
        border-radius: 60px;
    }
     
    .slide__picture {
        width: 210px;
        height: 400px;
        right: calc(50% - 105px);
    }
    
    @keyframes toRight {
        0% { right: -260px; opacity: 30%;}
        100% { right: calc(50% - 105px); opacity: 100%;}
      }
    
    .slide__back::after {
        width: 990px;
        height: 312px;
        top: 55px;
        left: calc(50% - 450px);
    }
    
    .text__block {    
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .slide__text {
       color: #fff;
       width: 160px;
       position: absolute;
       left: 40px;
       bottom: 20px;
       top: auto;
    }
    
    .animate__text {
      animation: toBotton 0.8s normal forwards;  
    }
    
    @keyframes toBotton  {
        0% { bottom: 100px; opacity: 0%;}
        100% { bottom: 40px; opacity: 100%;}
      }

    .slide__button {
      font-size: 20px;
      right: -90px;
      bottom: 10px;
      padding-left: 140px;
      padding-right: 140px;
      padding-top: 40px;
      padding-bottom: 40px;  
    }

    .slide__back::before {
       width: 220px;
      height: 220px;
    }
}
